ul li {
  padding: 5px 10px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 100ms ease-in;
}

ul li.active,
ul li:hover {
  color: var(--orange-primary);
}
button {
  background-color: var(--orange-primary);
  transition: all 150ms ease-in;
}

button.contact-me:hover {
  transform: scale(1.05);
}
